:root {
  --colorProgress-one: rgb(170, 79, 255);
  --colorProgress-two: rgb(140, 24, 248);
  --colorProgress-three: rgb(109, 1, 211);
  --colorProgress-four: rgb(85, 0, 165);
  --colorProgress-five: rgb(44, 1, 85);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400; 
}

h1 {
  color: rgb(0, 0, 75);
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 100px;
}

h2 {
  font-weight: bold;
}

ul {
  padding: 1.5px 1.5px 1.5px 1.5px;
  /*margin: 0 0 0 0;*/
}

li {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  color: transparent;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  cursor: default;
  box-shadow: none;
}

li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#history {
  width: 1223px;
  padding-left: calc(1% + 9%);
  padding: 0px 0px 0 200px;
  margin-bottom: -100px;
}

#cashierHistory {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#indexProgress ul li{ 
  display: inline-block;
}

.colorProgress:hover, 
.signals:hover { 
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}

.signals {
  background-color: white;
  text-align: center;
  color: black;
}

.colorProgress {
  color: transparent;
}

#colorProgressOne {
  background-color: var(--colorProgress-one);
  border: 1px solid black;
}

#colorProgressTwo {
  background-color: var(--colorProgress-two);
  border: 1px solid black;
}

#colorProgressThree {
  background-color: var(--colorProgress-three);
  border: 1px solid black;
}

#colorProgressFour {
  background-color: var(--colorProgress-four);
  border: 1px solid black;
}

#colorProgressFive {
  background-color: var(--colorProgress-five);
  border: 1px solid black;
}

#container {
  margin-top: 100px;
  padding-left: calc(1% + 10%);
}

#monthsYear {
  display: flex;
  width: 1223px;
  border: solid 2px rgb(0, 0, 34);
  margin: 0 0 0 0;
  padding: 0 20px 0 5px;
}

#daysWeek li{
  display: block;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#daysWeek p {
  margin: 0;
}

#daysWeek li:hover {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  cursor: auto;
}

#january p, 
#february p, 
#march p, 
#april p, 
#may p, 
#june p, 
#july p, 
#august p, 
#september p, 
#octuber p, 
#november p, 
#december p {
  display: block;
  text-align: center;
  font-weight: bold;
}

p {
  margin: 0 0 15px 0;
  margin-bottom: 10px;
  margin-top: -10px;
}

.days {
  display: flex;
}

#dayJune14 {
  background-color: var(--colorProgress-one);
}

#dayJune15 {
  background-color: var(--colorProgress-one);
}

#dayJune16 {
  background-color: var(--colorProgress-three);
}

#dayJune17 {
  background-color: var(--colorProgress-two);
}

#dayJune18 {
  background-color: var(--colorProgress-three);
}

#dayJune21 {
  background-color: var(--colorProgress-two);
}

#dayJune22 {
  background-color: var(--colorProgress-two);
}

#dayJune23 {
  background-color: var(--colorProgress-one);
}

#dayJune27 {
  background-color: var(--colorProgress-one);
}

#dayJune30 {
  background-color: var(--colorProgress-one);
}

#dayJuly01 {
  background-color: var(--colorProgress-two);
}

#dayJuly02 {
  background-color: var(--colorProgress-one);
}

#dayJuly03 {
  background-color: var(--colorProgress-one);
}

#dayJuly04 {
  background-color: var(--colorProgress-three);
}

#dayJuly05 {
  background-color: var(--colorProgress-two);
}

#dayJuly06 {
  background-color: var(--colorProgress-two);
}

#dayJuly07 {
  background-color: var(--colorProgress-two);
}

#dayJuly08 {
  background-color: var(--colorProgress-two);
}

#subtitles {
  width: 1223px;
  padding-left: calc(1% + 9%);
  padding: 0 0 0 0;
}

#subtitlesBoxes {
  width: 100%;
  display: flex;
  justify-content: start;
}

#indexSubtitles ul li{ 
  list-style-type: disc;
  display: block;
  color: black;
}

.subtitlesItems {
  
  color: black;
  border: none;
  width: auto;
  height: auto;
}

.subtitlesItems:hover {
  list-style-type: disc;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
}

h3 {
  color:rgb(170, 0, 0);
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 200px;
  margin-right: 160px;
}